Make your profile


<form action='/profile/female' method='post'>
<label for="name">your name</label>
<input id="name" name="name" type="text">
<br>
<label for="fixedstatus">are you fixed?</label>
<input id="fixedstatus" name="fixedstatus" type="text">
<br>
<label for="city">your city</label>
<input id="city" name="city" type="text">
<br>
<button type="submit">make your profile</button>

</form>
