<title>CATR</title>

<h1>single cats near you!</h1>

<form action='/matches' method='post'>
    <label for="catsex">do you want to see male or female cats?</label>
    <select id='catsex' name='catsex' type='text'>
        <option value="female"> female </option>
        <option value="male"> male</option>
    </select>
    <button type='submit'>show me possible matches!</button>
</form>

<a href="/profile/make">make your profile first</a>
