<h1> add your profile</h1>

<form action="/profile/female" method="get">
  <button type="submit">make your female profile</button>
</form>

<br>

<form action="/profile/male" method="get">
  <button type="submit">make your male profile</button>
</form>
