#if ($catsex.equals("female"))
  #foreach($female1 in $females)
    <ul>
      <li>$female1.getName()<a href="/profile/female/$female.getId()">see her profile</a></li>
    </ul>
  #end

#else

  #foreach($male1 in $males)
    <ul>
      <li>$male1.getName()  <a href="/profile/male/$male.getId()">see his profile</a> </li>
    </ul>
    #end
#end

$catsex

<a href="/profile/make">make your profile</a>
