$newCat.getName()

           if(gender.equals("male")){
             Male newCat = new Male(name, fixedstatus, gender);
           } else if ("female"){
             Female newCat = new Female(name, fixedstatus, gender);
           }
