<div class="jumbotron">
  <h1>$fCat.getName()'s profile</h1>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
      City: $fCat.getCity()()
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      Fixed: $fCat.getFixed()
    </div>
  </div>
